{% extends "admin_templates/base.html" %} 
{% load static %} 
{% block title %} 
Students
{% endblock title %} 
{% block content %}

<div class="container mt-2">
  {% include '_partials/flash_messages.html'%}
  {% if students %}
    <div class="card bg-light">
        <div class="card-body">
            <form method="GET">
                <div class="row px-lg-5 px-md-3">
                    {% for field in filter.form %}
                    <div class="col-md-4 col-sm-12">
                        <b>{{field.label_tag}}</b> {{field}}
                    </div>
                    {% endfor %}
                </div>
                <div class="px-lg-5 px-md-3">
                    <input class="btn btn-primary mt-2" type="submit" value="Filter" />
                </div>
            </form>
            <hr>
            <section class="table-section">
                <div class="container mt-0 pt-0 rounded bg-white px-md-5">
                <div class="table-responsive">
                    <table
                    class="table"
                    id="table"
                    data-toggle="table"
                    data-pagination="true"
                    data-show-columns="true"
                    data-show-button-icons="true"
                    data-search="true">
                    <thead>
                        <tr>
                        <th data-switchable="false" data-sortable="true" data-field="name">Name</th>
                        <th data-sortable="true" data-field="email">Email</th>
                        <th data-visible="false" data-sortable="true" data-field="course">Course</th>
                        <th data-visible="false" data-sortable="true" data-field="branch">Branch</th>
                        <th data-visible="false" data-sortable="true" data-field="session">Session</th>
                        <th data-sortable="true" class="text-center" data-field="roll_no">Roll Number</th>
                        <th data-switchable="false" class="text-center" data-field="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        
                        <tr class="bg-blue"> 
                            <td class="pt-2">
                            {% if student.user.profile_pic %}
                            <img src="{{ student.user.profile_pic.url }}" class="rounded-circle table-img" alt="">
                            {% elif student.user.gender == "M" %}
                            <img src={% static "img/male.png" %} class="rounded-circle table-img" alt="">
                            {% else %}
                            <img src={% static "img/female.png" %} class="rounded-circle table-img" alt="">
                            {% endif %}   
                            <div class="pl-lg-5 pl-md-3 pl-1 name">{{student.user.first_name}} {{student.user.last_name}}</div>
                            </td>                  
                            <td class="pt-3 mt-1">{{student.user.email}}</td>
                            <td class="pt-3 mt-1">{{student.course}}</td>
                            <td class="pt-3 mt-1">{{student.branch}}</td>
                            <td class="pt-3 mt-1">{{student.session}}</td>
                            <td class="pt-3 text-center">{{student.roll_no}}</td>
                            <td class="pt-3 text-center"><a href= {% url 'student_detail' student.user.id %} ><i class="fa-solid fa-eye fa-lg"></i></a></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </section>
        </div>
    </div>
    {% else %}
    <div class="container-fluid d-flex justify-content-center bg-img">
        <img src={% static 'img/register.svg' %} alt="">
    </div>
    <div class="container-fluid d-flex justify-content-center mb-4">
        <h1 style="font-family: cursive;">No students registered.</h1>
    </div>
    {% endif %}
</div>

{% endblock content %}